# Compiled source #

.project
.cache
.classpath
*.bak
.settings/

###################

*.class
*.dll
*.exe
*.o
*.so

# Logs and databases #
######################
*.log

Thumbs.db

# Folder
#####################
/class
/classes*
**/.svn*
/**/text-base*
/**/.svn*
*.svn*
/.svn
/target
/bin
*/target/*
*/bin/*
target/**/*
/screens
.settings/*
.idea/*
*.idea*
/.idea
/.idea/*
*.iml


target
/target
